.header {
    text-align: left;
	}

.bg{
    color: ##F57C00;
    margin-top: 220px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   }

.bg2{
    color: ##F57C00;
    margin-top: 220px;
    margin-bottom: 120px;
    margin-right: 170px;
    margin-left: 80px;
   }
.ss{
    margin: auto;
}